body {
    color: blue;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera {
    width: 100%;
    background-color: #e0e0e0;
    text-align: center;
    font-family: 20px;
    padding: 5px 0;
    color: royalblue;
    border: 1px solid royalblue;
    box-shadow: 0 0 5px grey;
}

#container {
    width: 70%;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
    margin-top: 5px;
}

#container h1 {
    font-size: 20px;
}

#post {
    padding: 1em;
}

.main-footer {
    text-align: center;
    background-color: #e0e0e0;
    color: royalblue;
    border: 1px solid royalblue;
    box-shadow: 0 0 5px grey;
}